//colores 
$green-1: #35cd96;
$yellow-1 :#dfb610;
$celeste:#5AB1D6;
$gris-oscuro:#4b4b4b;
$gris-medio:#7f7f7f;
$gris-claro: #cdcdcd;
$smoke: #DADADA;
$white-smoke:#F5F5F5;
$white:#fefefe;
$white-min:#ededed;
$white-medio:#eee;
$white-dirty:#CBCBCB;
$turqueza:#009688;
$purple: #9E155F;
$black:#050505;
$verde-agua:#DCF7C5;


//tipografia
$tipografia: 'Roboto',sans-serif;

//anchos 
$whidth-min:40px;
$width-c-max: 99%;
$width-max: 100%;
//altos
$height-min:40px;
$height-medio: 573px;
$height-max:100%;
